
.palette{
color:#022873;
color:#0583F2;
color:#BF964B;
color:#D5DFEB;
color:#0D0D0D;
}
*{
	border:0;
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

/*ALL PAGES*/
/*Body*/
body{
    background: #0D0D0D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #232526, #0D0D0D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #0D0D0D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #D5DFEB;
    font-family:Poppins-Regular;
}

/*Navigation bar*/
nav{
    background-color: #D5DFEB;
    color:#022873;
    height: 8vh;
    z-index: 10;
}
nav div{
    display: inline-block;
    width: 20vw;
    text-align: center;
}
nav div p{
    font-family:Poppins-Italic;
    font-size: 150%;
}
nav ul{
    display: inline-block;
    width: 70vw;
    text-align: right;
}
ul li{
    display: inline-block;
    list-style: none;   
    padding: 2% 1%;
    text-align: right;
    vertical-align: middle;
}
ul li:hover{
transform: scale(1.2,1.2);
}
nav ul li a:link {
    text-decoration: none;
    color:#0D0D0D
} 
nav ul li a:visited {
    color:#022873
}
nav ul li a:hover{
    color: black;
}
nav ul li a:active{
    color: #BF964B;
}

/*Footer*/
footer{
    position: fixed;
    bottom: 1vh;    
}
footer section{
    display: inline-block;
    vertical-align: center;
    margin-left: 10vw;
}

footer.social-media{
    width: 100vw;
}

footer .social-media img{
    background-color: #D5DFEB;
    border-radius:50%;
    width: 2vw;
    margin-left: 8px;
}

footer .social-media img:hover{
transform: scale(1.5,1.5);
}

/*Fonts*/
@font-face {
    font-family: Poppins-Regular ;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins-Italic ;
    src: url(../fonts/Poppins-Italic.ttf);
}


/*INDEX*/
/*Main*/
#index main{
    grid-area:main;
    padding-top: 24%;
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    font-size: 120%;
    color:#D5DFEB ;
}
#index main img{
    display: inline-block;
    position: absolute;
    height: 92vh;
    width: 60vw;
    opacity: 0.5;
}
/* -- INDEX -- */


/*  CV */
#cv main #card{
    display: inline-block;
    background-color: #0583F2;
    width: 16vw;
    height: 40vh;
    margin: 2vh 1vw;
    border-radius: 8%;
}

#cv main #card img{
    width: 8vw;
    height: 16vh;
    margin: 2vh 4vw;
    border-radius: 50%;
    object-fit: cover;
}
#cv main #descargar{
    border-radius: 20px;
    width: 16vw;
    height: 4vh;
    margin: 16vh 0;
    background-color: #BF964B;
    color:#D5DFEB;
}
#cv #card p{
    margin: 1vh 2vw;
}
#cv main section {
    display: inline-block;
    position: absolute;
}
#cv main #principal {
    position: absolute;
    left: 20vw;
    margin:2vh 4vw;
    width:50vw;
}
#cv main #principal{
    position: relative;
    text-align: center;
    margin:2vh 4vw;
}
.card h2{
padding: 16px;
}
.card h3{
    padding: 16px;
}
.card p{
padding: 8px;
}
#cv main aside {
position: absolute;
top: 8vh;
right: 0;
background-color:aliceblue;
height: 90vh;
width: 20vw;
color: #414345;
padding: 1vh 2vw;
overflow-y: scroll;
}
#cv main aside p{
    margin: 2vh 1vw;
}

#cv footer section{
    margin-left: 2vw;
}
/*--CV--*/

/* PROYECTOS */
#proyectos main .card{
    display: block;
    background-color:#BF964B;
    width: 88vw;
    height: 40vh;
    margin: 2vh 6vw;
    border-radius: 4vw;    
}
#proyectos main .card img{
    display: inline-block;
    object-fit:cover;
    width: 40vw;
    height: 100%;
    border-radius: 4vw 0 0 4vw ;
}
#proyectos main .card div{
    display: inline-block;
    position:relative;
    top:-35%;
    left: 4%;
    width: 30vw;
    color: #0D0D0D;   
    font-size: 88%;
}

/*footer*/

#proyectos footer section {
    margin:0;
}

#proyectos footer section img{
    position: sticky;
    margin: 2vh 1vw;
    top:50% ;
    left: 1vw;
    display: block;
}
/*-- PROYECTOS --*/

/* RECURSOS */

#recursos main{
    width: 80vw;
    height: 40vh;
    margin: 2vh 10vw;
    border-radius: 8%;
}

#recursos main .card{
    display: inline-block;
    background-color: #D5DFEB;
    width: 32vw;
    height: 40vh;
    margin: 2vh 1vw;
    border-radius: 4vh;
}
#recursos main .card p{
display: block;
position: relative;
bottom: 1vh;
color: #0D0D0D;
text-align: center;
}
#recursos main .card .iframe{
width: 100%;
height: 80%;
border-radius: 4vh 4vh 0 0;
}

#recursos footer section {
    margin:0;
}

#recursos footer section img{
    position: sticky;
    margin: 2vh 1vw;
    right: 0;
    display: block;
}

/* -- RECURSOS -- */

/* CONTACTO */
#contacto section iframe {
    margin: 4vh 8vw;
    width: 80vw;
    height: 20vh;
}
#contacto #formulario_contacto{
    display: inline-block;
    margin: 4vh 8vw;
    width: 80vw;
    height: 50vh;
}
#contacto #formulario_contacto div{
    position: absolute;
    top:40vh;
    left: 10vw;
    width: 20vw;
}
#contacto #formulario_contacto h4{
 text-align: center;
}
#contacto #formulario_contacto form{
    display: block;
    margin:1vh 40vw;
    width: 20vw;
   }
#contacto footer section {
    margin-left: 40vw;
}

/*-- CONTACTO --*/