// Paleta de colores normal
$tema_normal:(
color-primario: #BF964B,
color-gradiente_claro: #414345,
color-gradiente_oscuro: #232526,
color-fondo: #0D0D0D,
color-texto: #D5DFEB,
color-enlace: #022873,
color-secundario: #045faf
);

$tema_alternativo:(
color-primario: #F4D35E,
color-gradiente_claro: #414345,
color-gradiente_oscuro: #232526,
color-fondo: #0D3B66,
color-texto: #FAF0CA,
color-enlace: #F95738,
color-secundario: #EE964B
);
