footer{
    position: fixed;
    bottom: 1vh;    
    section{
        display: inline-block;
        vertical-align: center;
        margin-left: 10vw;
    }
    .social-media{
        width: 100vw;
    }
    .social-media{
        img{
            background-color: #D5DFEB;
            border-radius:50%;
            width: 2vw;
            margin-left: 8px;
            &:hover{
                transform: scale(1.5,1.5);
            }
        }  
    } 
}

#proyectos {
    footer{
        section {
           margin:0;
           display: flex;
           flex-direction: column;
           img{
            position: sticky;
            margin: 2vh 1vw;
            top:50% ;
            left: 1vw;
            display: block;
        }
        }
    }
}

#contacto {
    footer{
        section {
            margin-left: 10vw;
        }
    } 
}