header{
    grid-area: header;
    display: grid;
    color:$color-enlace;
    height: $header-height;

    div{
        display: flex;
        width: 24vw;
        text-align: center;

        p{
            font-family:Poppins-Italic;
            font-size: 240%;
            padding: 2vh;
        }
    }

    nav{
        div{            
            div{
                display: flex;
                align-content:space-around ;
                a{
                    padding: 0 2px;
                    transition: transform 0.6s;
                    font-size: 140%!important;
                    &:link {
                        text-decoration: none;
                        color:$color-fondo
                    }
                    &:visited {
                        color: $color-enlace
                    }
                    &:hover{
                        transform: scale(1.2,1.2);
                        color: $color-fondo;
                    }
                    &:active{
                        color: $color-primario;
                    }
                }
                 
            }
        }
    } 
}
