#cv {
    main{
        height: $main-section-height;
        display: grid;
        @include grid_config(24vw 54vw 28vw,1fr 1fr 1fr,"card principal aside"
        ". principal aside" 
        ". . aside");
        #card{
            margin:8% 8%;
            padding: 2% 2%;
            grid-area:card;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:center;
            background-color:map-get($tema_normal , color-texto);
            border-radius: 8%;
            div{
                img{
                    background: radial-gradient(rgba(255, 255, 255, 0.2), map-get($tema_normal , color-secundario));
                    border-radius: 50%;
                    width: 12vw;
                    height: 12vw;
                    object-fit: cover;
                }
            }
            p{
                font-family: Poppins-Light;
                margin-top: 2rem;
                font-size: 160% ;
                font-weight: 600;
                color: map-get($tema_normal , color-gradiente_oscuro);
            }
            
            #descargar{
                border-radius: 16px;
                padding: 8px;
                margin-top: 32%;
                background-color: map-get($tema_normal , color-secundario);
                color:map-get($tema_normal , color-texto);
            }
        }

        #principal {
            font-family: Poppins-Regular;
            color: map-get($tema_normal , color-texto);
            font-size: 150%;
            grid-area:principal;
            padding: 4% 8%;
            display: flex;
            flex-direction: column;
            justify-content: justify;
            h2{
                align-self: calc(center-8vw);
                padding:16px 0px;
            }
            .principal_descripcion h3{
                padding:16px 0px;
            }
            .principal_descripcion p{
                padding:8px 0px;
            }
        }
        aside {
            font-size: 120%;
            font-family: Poppins-Light;
            grid-area: aside;
            background:linear-gradient(map-get($tema_normal , color-gradiente_oscuro),0.8%,map-get($tema_normal , color-texto));
            width: 22vw;
            color: map-get($tema_normal , color-gradiente_claro);
            padding: 2vh 1vw;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            justify-content: justify;
            h2,h3{
                align-self: center;
                padding: 0.8rem 0;
            }
            p{
                margin: 2vh 1vw;
            }
            }
    }
    footer{
        section{
            margin-left: 2vw;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Estilos para tablets */   
    #cv {
        main {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto auto auto;
          grid-template-areas:
            "card card"
            "principal aside"
            "footer footer";
            #card {
                margin:1vh auto; ;
                width: 50vw;
              }
            #principal {
                width: 100%;
              }
            aside{
            display: grid;
            width: 40vw;
            overflow-y: scroll;
            }
        }
        footer{
            display: none;
        }        
    }
}

@media screen and (max-width: 480px) {
    /* Estilos para celular */   
    #cv main {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "card"
        "principal";
        #card {
            margin:1vh auto; ;
            width: 80%;
          }
        #principal {
            width: 100%;
          }
        aside{
        display: none;
        }
    }
    footer{
        display: none;
    }
}

  
