#index{
    display: grid;
    @include grid_config(1fr 2fr,auto 1fr,"header header""main aside");
    main{
        grid-area:main;
        padding:24% 4%;
        display: grid;
        align-items: center;
        justify-content: space-between;
        @include grid_config(1fr,1fr 2fr 1fr,"");
        font-size: 180%;
        color:map-get($tema_normal,color-texto);
        height: $main-section-height;
        p:first-child{
            align-self: flex-end;
            padding: 4vh 0;
            font-weight: 800;
            font-size: 180%;
        }
        p:nth-child(2){
            align-self: flex-start;
        }
    }
    aside{
        height: $main-section-height;
        overflow: hidden;
        background: linear-gradient(map-get($tema_normal , color-fondo),18%,rgba(255, 255, 255, 0.2));
        img{
            opacity: 0.5;
            height: 100%;
            width: 100%;
        }
    }
}


@media screen and (max-width: 768px) {
    /* Estilos para celulares y tablets*/   
    #index{
    @include grid_config(1fr, auto auto auto,"header""main""aside");
        main {
            width: 100%;
            height: 50vh;
          }
        aside{
            width: 100%;
            height: 40vh;
            opacity: 0.3;
            position: absolute;
            bottom: 0;
            z-index: 1;
        }
        footer{
            display: none;
        }
    }  
}
  