#recursos {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80vw;
        height: 40vh;
        margin: 2vh 10vw;
        border-radius: 8%;
        .cards{
            display: flex;
            flex-direction: column;
            background-color: map-get($tema_normal , color-texto);
            color: map-get($tema_normal , color-secundario);
            width: 32vw;
            min-width: 28vw;
            height: 40vh;
            margin: 2vh 1vw;
            padding: 0;
            border-radius: 40px;
            .iframe{
                width: 100%;
                height: 80%;
                border-radius: 40px 40px 0 0;
                }
            p{
                align-self: center;
                padding-top: 1rem;
                font-family: Poppins-Bold;
                font-size: 120%;
            }
        }
    
    }
    footer{
        section {
            display: flex;
            flex-direction: column;
            margin:0;
        }
    } 
}

@media only screen and (max-width: 768px){

    #recursos {
        main{
        display: grid;
        grid-template-columns:1fr;
        .cards{
            display: flex;
            flex-direction: column;
            background-color: map-get($tema_normal , color-texto);
            width: 80vw;
            min-width: 28vw;
            height: 40vh;
            margin: 2vh 1vw;
            padding: 0;
            border-radius: 40px;
            }
       }
    }
}